<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   
</head>	
<body ng-app="todo">
<div class="container main" ng-controller="ctrl">
    <header>
        <div class="container top">
            <div class="col-xs-4 col-sm-3 logo">
                <span class="glyphicon glyphicon-calendar"></span>
                <span>TodoList</span>
            </div>
            <div class="col-xs-8 col-sm-9 search">
                <div class="searchBox">
                    <span class="glyphicon glyphicon-search searchIcon"></span>
                    <input type="text" class="form-control" ng-model="val" ng-change="search(val)" placeholder="快速查找">
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <!--列表层-->
        <div class="col-xs-4 col-sm-3 left">
            <!--列表-->
            <div class="down">
                <span class="glyphicon glyphicon-star"></span>
                <span>已完成</span>
                <span>{{num}}</span>
            </div>
            <div class="lists" ng-repeat="item in data track by item.id " >
                <input type="text" ng-model="item.name" ng-focus="focus(item)" ng-change="change(item)">
                <span class="delBtn glyphicon glyphicon-trash" ng-click="del(item)"></span>
            </div>
            <div class="addList" ng-click="addList()">
                <span class="glyphicon glyphicon-plus-sign"></span>
                添加列表
            </div>
        </div>
        <!--内容层-->
        <div class="col-xs-8 col-sm-9 right">
            <div class="title">
                {{arr.name}}
                <span class="glyphicon glyphicon-plus addConBtn" ng-hide="arr==''" ng-click="addCon()"></span>
            </div>
            <div class="con" ng-repeat="sone in arr.son track by sone.id  ">
                <span class="circle glyphicon " ng-click="down(sone.id)" ng-class="{true:'glyphicon-ok-sign color',false:'glyphicon-remove-sign'}[sone.result]"></span>
                <input type="text"  ng-change="sonChange(sone)" ng-model="sone.con"  ng-class="{true:'true',false:' '}[sone.result]" >
                <span class="conDel glyphicon glyphicon-remove" ng-click="conDel(sone)"></span>
            </div>
        </div>
    </div>
</div>
 <script src="angular.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="todo.css">
    <script src="todo.js"></script>
</body>
</html>