<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jishi.css">
    <script src="js/angular.min.js"></script>
    <script src="js/iscroll.js"></script>
    <script src="js/jishi.js"></script>
</head>
<body ng-app="myapp">
<div class="container-fluid" ng-controller="jishi">
    <div class="row">
        <div class="col-xs-4 col-sm-3 left">

            <div class="searchbox">
                <input type="text" class="search" placeholder="请搜索" ng-model="search">
                <span class="glyphicon glyphicon-search"></span>
            </div>

            <div class="done" ng-click="changedone()">
                <span class="glyphicon glyphicon-ok"></span> 已完成 <span>{{done.length}}</span>
            </div>
			<div id="wrapper">
				<div class="listbox">
					<div class="list" ng-repeat="item in data | filter:{name:search} track by item.id">
		                <input type="text" ng-model="item.name" ng-blur="blur()" ng-focus="focus(item.id)">
		                <button class="btn btn-default remove" type="submit" ng-click="dellist(item.id)">删除</button>
		            </div>
				</div>
			</div>
            

            <div class="add" ng-click="add()">
                <span class="glyphicon glyphicon-plus"></span> 添加计划
            </div>

        </div>
        <div class="col-xs-8 col-sm-9 right" ng-show="show==true">
            <div class="header">
                <h3>
                    	已完成列表
                </h3>
            </div>
            <div class="listcon" ng-repeat="item in done track by item.id">
                <span>
                	{{item.time | date:"yyyy-MM-dd HH:mm:ss"}}
                </span>
                <span>
                	{{item.name}}
                </span>
                <span>
                	{{item.con}}
                </span>
                <button class="btn btn-default removeCon" type="submit" ng-click="deldone(item.id)">删除</button>
            </div>
        </div>
        <div class="col-xs-8 col-sm-9 right" ng-show="show==false">
            <div class="header">
                <h3>
                    {{select.name}}
                </h3>
                <span class="time">
                	{{select.time | date:"yyyy-MM-dd HH:mm:ss" }}
                </span>
                <span class="addcon glyphicon glyphicon-plus" ng-click="addcon()"></span>
            </div>

            <div class="listcon" ng-repeat="item in select.son track by item.id">
                <div class="select" ng-click="selectcon(item.id)">
                </div>
                <input type="text"ng-model="item.name" ng-blur="blur()">
                <button class="btn btn-default removeCon" type="submit" ng-click="delcon(item.id)">删除</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
	var myScroll = new IScroll('#wrapper', { 
		mouseWheel:true,     //鼠标能否滚动
		scrollbars:true,      //是否有滚动条
		bounce:true,    //是否反弹，默认为true
		click:true,   //是否可以点击。默认为false
		fadeScrollbars:true,
		interactiveScrollbars:true,	
	});
</script>
</html>