<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.js"></script>
    <script src="js/note.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/note.css">
</head>
<body ng-app="myapp">
<div class="container-fluid" ng-controller="todo">
    <div class="row">
        <div class="col-xs-4 col-sm-3 left">
            <!--
             搜索
            -->
            <form class="form-inline search">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="请搜索" ng-model="search">
                    </div>
                </div>
            </form>

            <!--添加按钮-->


            <div class="add" ng-click="add()">
                <span class="glyphicon glyphicon-plus"></span> 添加计划
            </div>
            <!--计划列表-->

            <div class="list" ng-repeat="item in data  | filter: {name:search} track by item.id">
                <span class="glyphicon glyphicon-pencil"></span>
                <input type="text" ng-model="item.name" ng-focus="focus(item.id)" ng-blur="change()">
                <button class="btn btn-primary btn-sm remove" type="submit" ng-click="dellist(item.id)">删除</button>
            </div>

            <!--已完成-->

            <div class="done">
                <span class="glyphicon glyphicon-ok"></span>  已完成 {{dones.length}}
                <span></span><span class="glyphicon glyphicon-chevron-down sanjiao"></span>
            </div>
            <div   ng-repeat="item2 in dones track by item2.id" class="lists">
                <h4>{{item2.name}}</h4> <span>{{item2.con}}</span>
                <button class="btn btn-primary btn-sm deldone" type="submit" ng-click="deldone(item2.id)">删除</button>
            </div>
        </div>
        <div class="col-xs-8 col-sm-9 right">
            <!--右边的头部-->
            <div class="header">
                <h3>
                    {{ current.name }}
                </h3>
                <span class="addcon glyphicon glyphicon-plus btn btn-default" ng-click="newlist()">
                点击添加新计划
                </span>
            </div>

            <!--右边的内容-->

            <div class="listcon"  ng-repeat="item1 in current.son track by item1.id">
                <input type=checkbox class="select" ng-click="done(item1.id)">

                <input type="text" autofocus ng-model=item1.con class="input" ng-change="changecon()">

                <button class="btn btn-default removeCon glyphicon glyphicon-trash" type="submit" ng-click="delcon(item1.id)"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>
