html,body{
    width:100%;height:100%;
}
.container-fluid, .container-fluid .row{
    height:100%;
}
.container-fluid .left,.container-fluid .right{
    height:100%;position: relative;
}
.container-fluid .right{
    background: #ECE8AC;
    /*display: none;*/
}
.container-fluid .active{
    display: block;
}
.container-fluid .left{
    background: #CFCB9F;
}
.search{
    margin-top: 10px;
}
.done{
    margin-top: 10px;
}
input{
    border:none;
    background: rgba(0,0,0,0);

}
input:focus{
    outline: none;
}
.list{
    border: 1px solid #000;
    padding: 0 10px;
    overflow: hidden;
    height: 42px;
}
.list input{
    vertical-align: middle;
    height: 100%;
    /*display: block;*/
}
.list button{
    float: right;
}
.remove{
    opacity: 0;
    transition: opacity .5s ease;
}
.list:hover .remove{
    opacity: 1;
}

.add{
    position: absolute;
    bottom: 10px;cursor: pointer;
}
.header{
    height:50px;border-bottom: 1px solid #000;display: flex;
    justify-content: space-between;

}
.header .addcon{
    line-height: 50px;
}
.listcon{
    border-bottom: 1px solid #ccc;
    position: relative;
    padding:5px 0;
}
.listcon input{
    margin-left:30px;
}
.listcon .select{
    width:10px;height:10px;
    border:1px solid #000;
    border-radius: 50%;
    position: absolute;
    left:0;top:10px;
}

.listcon .removeCon{
    position: absolute;
    right:0;padding:0 5px;
}