<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myapp" ng-init="one=0;two=0">
<!--angular功能-->
<!--1.双向数据绑定,监测新值和旧值，watch方法 mvc-->
<!--2.mvvm架构模式-->
<!--3.封装了指令-->
<!--4.按照模块化编程-->
<!--<div ng_controller="ctrl">-->
    <!--<span>{{abc}}</span>-->
<!--</div>-->
<input type="text" ng-model="one">
<input type="text" ng-model="two">
<span>{{one*1+two*1}}</span>
</body>
<script src="angular.js"></script>
<script>
//    $scope 依赖注入
    angular.module("myapp",[]).controller("ctrl",function ($scope) {
            $scope.abc="高静";
        })
</script>
</html>

async module define  --》amd(一切东西都是异步调用的,前端的js)
common module define --》cmd(通用的模块调用方式，后台)

angular适合用在
1.大量的增删改查（数据）的页面中
2.